{% extends "shopping/base.html" %} {% block content %} {% for recipe in recipes %}

<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ recipe.author.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ recipe.author }}</a>
            <small class="text-muted">{{ recipe.date_posted|date:"d.m.Y H:i" }}</small>
        </div>
        <h2><a class="article-title" href="{% url 'recipe-detail' recipe.id %}">{{ recipe.title }}</a></h2>
        <small class="text-muted">Time {{ recipe.time }} | Ingredients {{ recipe.ingredients|length }}</small>
    </div>
</article>
{% endfor %} {% endblock content %}