{% extends "shopping/base.html" %} {% block content %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted|date:"d.m.Y H:i" }}</small>
            {% if object.author == user %}
                <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'recipe-update' object.id %}">Update</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'recipe-delete' object.id %}">Delete</a>
                </div>
            {% endif %}
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        {% if object.ingredients %}
        <p>
            Ingredients:
            <ul>
                {% for ingredient in object.ingredients %}
                <li> {{ ingredient.name }} {{ingredient.amount}} </li>
                {% endfor %}
            </ul>
        </p>
        {% endif %}
        <p class="article-content">{{ object.text }}</p>
    </div>
</article>
{% endblock content %}